@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', system_ui, sans-serif;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
}

.neon-purple {
  text-shadow: 0 0 15px rgb(168 85 247);
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(168, 85, 247, 0.5);
  border-radius: 20px;
}
